{% extends 'base.html.twig' %}

{% block title %}Porte-Conteneurs {{ containership.id }}{% endblock %}

{% block body %}
        <h1>Détail du porte-conteneurs {{ containership.id }}</h1>
        <p>{{ containership.id }} {{ containership.name }} {{ containership.captainName }} </p>
{% endblock %}