{% extends 'base.html.twig' %}

{% block title %}Conteneur {{ container.id }}{% endblock %}

{% block body %}
    <h1>Détails du Conteneur {{ container.id }}</h1>
    <p>Détails : {{ container.id }} {{ container.containerModel.name }} {{ container.containership.name }} </p>
    <p>Dimensions : {{ container.containerModel.length }} {{ container.containerModel.width }} {{ container.containerModel.height }}</p>
{% endblock %}